<!DOCTYPE html>
{% extends "menu.html" %}
{% load static %} {# ¡Esta línea es clave! Para que funcione la variable de Ambiente STATIC_FILES #}

<head>
    <title>Inicio</title>
</head>
    {% block content %}
<body>
    <div class="container mt-4"> {# Optional: Use un contenedor para un mejor diseño y dar margen superior #}
        <div class="text-center"> {# Clase Bootstrap para centrar contenido en línea y en bloque en línea #}
            {# Usamos {% static 'ruta/de/tu/imagen.jpg' %} #}
            <img src="{% static 'images/graduandos.jpg' %}" class="img-fluid d-block mx-auto" alt="Grupo de graduandos">
        </div>
    </div>
</body>
  {% endblock %}
</html>